/* font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif; */

* {
  box-sizing: border-box;
}

.sidePadding {
  padding-left: 120px;
  padding-right: 120px;
}

.headingTitle {
  display: inline-block;
  padding: 12px 24px;
  text-align: center;
  background: #f8f9fe;
  border: 0;
}

.headingTitleText {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #69b99d;
}

.sectionHeadingContainer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}

.sectionHeadingLeft {
  max-width: 500px;
}

.sectionHeading {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.5px;
  color: #054457;
  margin: 16px 0;
}

.moreLink {
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
}

.moreLink:active {
  scale: 0.98;
}

.moreLinkIconBox {
  display: inline-flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #69b99d;
  color: #fff;
}

.subText1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0025em;

  color: #73788c;
  margin: 0;
}

/* ******* btn hover and active effect ********* */

.btn:hover {
  scale: 1.01;
  transform: translateY(-1px);
}

.btn:active {
  scale: 1;
  transform: translateY(0px);
}

/* ***************** Discover ************************** */

.discover {
  padding-top: 120px;
  padding-bottom: 120px;
}

.cardContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cardContainer .card {
  width: 31%;
  padding: 12px;
  background: #fefeff;
  border: 1px solid #dedcda;
}

.card img {
  width: 100%;
}

.cardHeading {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.0025em;
  color: #1f2744;
  margin: 12px 0;
}

.cardPricing {
  display: flex;
  align-items: center;
}

.cardPricing > *:nth-child(2) {
  background-color: #f5f5f5;
  padding: 4px 8px;
}

.cardBtn {
  width: 100%;
  border: 1px solid #69b99d;
  padding: 12px 48px;
  background: transparent;
  color: #69b99d;
  font-weight: 500;
  margin-top: 12px;
  cursor: pointer;
  /* transition: all 0.5s linear; */
}

.cardContainer > *:nth-child(2) .cardBtn {
  background-color: #69b99d;
  border: 0;
  color: #fefeff;
}

.cardBtn:hover {
  scale: 1.01;
  transform: translateY(-1px);
}

.cardBtn:active {
  scale: 1;
  transform: translateY(0px);
}

/* *************************advante*************** */

.advante {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f5f5f5;
}

.advanteCardContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advanteCard {
  padding: 12px;
  width: 31%;
  margin-top: 50px;
}

.advanteCardHeading {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.5px;
  color: #054457;
  margin: 16px 0;
}

/* ************************ About Us ********************** */

.about {
  padding-top: 200px;
  padding-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.about > * {
  width: 48%;
}

.aboutLeft {
  position: relative;
}

.aboutLeftBottom {
  position: absolute;
  right: 0;
  left: 100px;
  bottom: 0;
  background-color: #fff;
  z-index: 1;

  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
}

.aboutLeftBottom > * {
  display: flex;
  align-items: center;
}

.aboutPrice {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  letter-spacing: 0.0025em;
  margin: 5px 0;
  color: #054457;
}

.aboutLeftTop {
  position: absolute;
  left: 100px;
  top: -80px;
  text-align: center;
  background: #fefeff;
  box-shadow: 35px 35px 65px rgba(146, 106, 120, 0.16);
  padding: 16px 30px 30px 30px;
}

.tickSquareImg {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}

.aboutRatingText {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 72px;
  letter-spacing: 0.0025em;
  margin: 0;
  color: #054457;
}

.ratingBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.ratingBox > * {
  width: 15px;
}

.aboutLeft img {
  width: 100%;
}

.aboutBtn {
  background: #69b99d;
  box-shadow: 24px 24px 65px rgba(81, 140, 119, 0.24);
  padding: 18px 48px;
  font-weight: 500;
  color: #fefeff;
  border: 0;
  margin-top: 50px;
}
